{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <form
      hx-post=""
      hx-indicator="#indicator"
      class="col-md-6 offset-md-3"
      hx-target="#search-results"
    >
      {% csrf_token %}
      <div class="input-group">
        <input
          hx-indicator="#indicator"
          type="text"
          class="form-control"
          name="city"
          placeholder="Search"
          hx-post=""
          hx-trigger="keyup changed delay:500ms"
          hx-sync="closest form:abort"
        />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                d="m11.271 11.978l3.872 3.873a.502.502 0 0 0 .708 0a.502.502 0 0 0 0-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532c-2.73-2.73-7.17-2.73-9.898 0c-2.728 2.729-2.728 7.17 0 9.9a6.955 6.955 0 0 0 4.949 2.05a.5.5 0 0 0 0-1a5.96 5.96 0 0 1-4.242-1.757a6.01 6.01 0 0 1 0-8.486a6.004 6.004 0 0 1 8.484 0a6.01 6.01 0 0 1 0 8.486a.5.5 0 0 0 .034.738"
              />
            </svg>
          </button>
          <div
            id="indicator"
            class="htmx-indicator spinner-border spinner-border-sm"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </form>
    <div id="search-results"></div>
  </div>
</div>
{% endblock %}